Install JDK

Install Spark

Set env variables

Create a Spark Session

In [2]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [3]:
!ls /usr/lib/jvm

java-1.11.0-openjdk-amd64  java-1.8.0-openjdk-amd64
java-11-openjdk-amd64	   java-8-openjdk-amd64

In [ ]:
!wget https://dlcdn.apache.org/spark/spark-3.4.0/spark-3.4.0-bin-hadoop3.tgz

In [5]:
!ls

sample_data  spark-3.4.0-bin-hadoop3.tgz

In [ ]:
! tar -xvzf spark-3.4.0-bin-hadoop3.tgz

In [7]:
!ls

sample_data  spark-3.4.0-bin-hadoop3  spark-3.4.0-bin-hadoop3.tgz

In [10]:
!pip install -q findspark

In [12]:
import os

In [13]:
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.4.0-bin-hadoop3"

In [14]:
import findspark
findspark.init()

In [15]:
from pyspark.sql import SparkSession

In [17]:
spark=SparkSession.builder.master("local[*]").appName("Retail Bank Market").enableHiveSupport().getOrCreate()

In [19]:
spark.createDataFrame([{"Google":"Colab","Spark":"Scala"},{"Google":"Dataproc","Spark":"Python"}]).show()

+--------+------+
|  Google| Spark|
+--------+------+
|   Colab| Scala|
|Dataproc|Python|
+--------+------+

In [ ]:
!wget https://raw.githubusercontent.com/futurexskill/bigdata/master/bank_prospects.csv

In [21]:
!ls

bank_prospects.csv  spark-3.4.0-bin-hadoop3
sample_data	    spark-3.4.0-bin-hadoop3.tgz

In [22]:
!cat bank_prospects.csv

Age,Salary,Gender,Country,Purchased
18,20000,Male,Germany,N
19,22000,Female,France,N
20,24000,Female,England,N
21,,Male,England,N
22,50000,Male,France,Y
23,35000,Female,England,N
24,,Male,Germany,N
25,32000,Female,France,Y
,35000,Male,Germany,N
27,37000,Female,France,N
27,37000,Female,unknown,N

In [23]:
bankProspectsDF = spark.read.csv("bank_prospects.csv",header=True)

In [24]:
bankProspectsDF.show()

+----+------+------+-------+---------+
| Age|Salary|Gender|Country|Purchased|
+----+------+------+-------+---------+
|  18| 20000|  Male|Germany|        N|
|  19| 22000|Female| France|        N|
|  20| 24000|Female|England|        N|
|  21|  null|  Male|England|        N|
|  22| 50000|  Male| France|        Y|
|  23| 35000|Female|England|        N|
|  24|  null|  Male|Germany|        N|
|  25| 32000|Female| France|        Y|
|null| 35000|  Male|Germany|        N|
|  27| 37000|Female| France|        N|
|  27| 37000|Female|unknown|        N|
+----+------+------+-------+---------+

In [26]:
bankProspectsDF.describe().show()

+-------+------------------+------------------+------+-------+---------+
|summary|               Age|            Salary|Gender|Country|Purchased|
+-------+------------------+------------------+------+-------+---------+
|  count|                10|                 9|    11|     11|       11|
|   mean|              22.6|32444.444444444445|  null|   null|     null|
| stddev|3.1692971530679235| 9342.257638161012|  null|   null|     null|
|    min|                18|             20000|Female|England|        N|
|    max|                27|             50000|  Male|unknown|        Y|
+-------+------------------+------------------+------+-------+---------+

In [27]:
bankProspectsDF.filter("AGe > 18").show()

+---+------+------+-------+---------+
|Age|Salary|Gender|Country|Purchased|
+---+------+------+-------+---------+
| 19| 22000|Female| France|        N|
| 20| 24000|Female|England|        N|
| 21|  null|  Male|England|        N|
| 22| 50000|  Male| France|        Y|
| 23| 35000|Female|England|        N|
| 24|  null|  Male|Germany|        N|
| 25| 32000|Female| France|        Y|
| 27| 37000|Female| France|        N|
| 27| 37000|Female|unknown|        N|
+---+------+------+-------+---------+

In [28]:
bankProspectsDF.filter(bankProspectsDF["country"]!="unknown").show()

+----+------+------+-------+---------+
| Age|Salary|Gender|Country|Purchased|
+----+------+------+-------+---------+
|  18| 20000|  Male|Germany|        N|
|  19| 22000|Female| France|        N|
|  20| 24000|Female|England|        N|
|  21|  null|  Male|England|        N|
|  22| 50000|  Male| France|        Y|
|  23| 35000|Female|England|        N|
|  24|  null|  Male|Germany|        N|
|  25| 32000|Female| France|        Y|
|null| 35000|  Male|Germany|        N|
|  27| 37000|Female| France|        N|
+----+------+------+-------+---------+

In [29]:
from pyspark.sql.types import IntegerType, FloatType

In [32]:
bankProspectsDF.printSchema()

root
 |-- Age: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Purchased: string (nullable = true)

In [34]:
bankProspectsDF.groupBy("country").count().show()

+-------+-----+
|country|count|
+-------+-----+
|Germany|    3|
| France|    4|
|unknown|    1|
|England|    3|
+-------+-----+

In [35]:
bankProspectsDF.groupBy("country").count().orderBy('count', ascending=False).show()

+-------+-----+
|country|count|
+-------+-----+
| France|    4|
|Germany|    3|
|England|    3|
|unknown|    1|
+-------+-----+

In [92]:
bankProspectsDF.show()

+----+------+------+-------+---------+
| Age|Salary|Gender|Country|Purchased|
+----+------+------+-------+---------+
|  18| 20000|  Male|Germany|        N|
|  19| 22000|Female| France|        N|
|  20| 24000|Female|England|        N|
|  21|  null|  Male|England|        N|
|  22| 50000|  Male| France|        Y|
|  23| 35000|Female|England|        N|
|  24|  null|  Male|Germany|        N|
|  25| 32000|Female| France|        Y|
|null| 35000|  Male|Germany|        N|
|  27| 37000|Female| France|        N|
|  27| 37000|Female|unknown|        N|
+----+------+------+-------+---------+

In [126]:
 bankProspectsDF1 = bankProspectsDF.filter(bankProspectsDF["country"]!="unknown")

In [127]:
bankProspectsDF1.show()

+----+------+------+-------+---------+
| Age|Salary|Gender|Country|Purchased|
+----+------+------+-------+---------+
|  18| 20000|  Male|Germany|        N|
|  19| 22000|Female| France|        N|
|  20| 24000|Female|England|        N|
|  21|  null|  Male|England|        N|
|  22| 50000|  Male| France|        Y|
|  23| 35000|Female|England|        N|
|  24|  null|  Male|Germany|        N|
|  25| 32000|Female| France|        Y|
|null| 35000|  Male|Germany|        N|
|  27| 37000|Female| France|        N|
+----+------+------+-------+---------+

In [128]:
bankProspectsDF2 = bankProspectsDF1.withColumn("Age", bankProspectsDF1["age"].cast(IntegerType())).withColumn("Salary", bankProspectsDF1["salary"].cast(FloatType()))

In [129]:
bankProspectsDF2.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Salary: float (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Purchased: string (nullable = true)

In [130]:
from pyspark.sql.functions import mean

In [131]:
bankProspectsDF2.fillna(23, "Age").show()

+---+-------+------+-------+---------+
|Age| Salary|Gender|Country|Purchased|
+---+-------+------+-------+---------+
| 18|20000.0|  Male|Germany|        N|
| 19|22000.0|Female| France|        N|
| 20|24000.0|Female|England|        N|
| 21|   null|  Male|England|        N|
| 22|50000.0|  Male| France|        Y|
| 23|35000.0|Female|England|        N|
| 24|   null|  Male|Germany|        N|
| 25|32000.0|Female| France|        Y|
| 23|35000.0|  Male|Germany|        N|
| 27|37000.0|Female| France|        N|
+---+-------+------+-------+---------+

In [132]:
mean_age_val = bankProspectsDF2.select(mean(bankProspectsDF2['age'])).collect()

In [133]:
mean_age_val

[Row(avg(age)=22.11111111111111)]

In [134]:
type(mean_age_val)

list

In [135]:
mean_age = mean_age_val[0][0]

In [136]:
mean_age

22.11111111111111

In [137]:
bankProspectsDF2.select("age").agg({"age":"avg"}).show()

+-----------------+
|         avg(age)|
+-----------------+
|22.11111111111111|
+-----------------+

In [138]:
bankProspectsDF2.select("salary").agg({"salary":"avg"}).show()

+-----------+
|avg(salary)|
+-----------+
|    31875.0|
+-----------+

In [139]:
mean_sal_val = bankProspectsDF2.select(mean(bankProspectsDF2['salary'])).collect()

In [140]:
mean_sal_val

[Row(avg(salary)=31875.0)]

In [141]:
type(mean_sal_val)

list

In [142]:
mean_sal = mean_sal_val[0][0]

In [143]:
mean_sal

31875.0

In [144]:
type(mean_sal)

float

In [149]:
 bankProspectsDF3 =bankProspectsDF2.fillna(round(mean_age),"age")

In [150]:
bankProspectsDF3.show()

+---+-------+------+-------+---------+
|Age| Salary|Gender|Country|Purchased|
+---+-------+------+-------+---------+
| 18|20000.0|  Male|Germany|        N|
| 19|22000.0|Female| France|        N|
| 20|24000.0|Female|England|        N|
| 21|   null|  Male|England|        N|
| 22|50000.0|  Male| France|        Y|
| 23|35000.0|Female|England|        N|
| 24|   null|  Male|Germany|        N|
| 25|32000.0|Female| France|        Y|
| 22|35000.0|  Male|Germany|        N|
| 27|37000.0|Female| France|        N|
+---+-------+------+-------+---------+

In [153]:
  bankProspectsDF4 = bankProspectsDF3.fillna((mean_sal),"salary")

In [154]:
bankProspectsDF4.show()

+---+-------+------+-------+---------+
|Age| Salary|Gender|Country|Purchased|
+---+-------+------+-------+---------+
| 18|20000.0|  Male|Germany|        N|
| 19|22000.0|Female| France|        N|
| 20|24000.0|Female|England|        N|
| 21|31875.0|  Male|England|        N|
| 22|50000.0|  Male| France|        Y|
| 23|35000.0|Female|England|        N|
| 24|31875.0|  Male|Germany|        N|
| 25|32000.0|Female| France|        Y|
| 22|35000.0|  Male|Germany|        N|
| 27|37000.0|Female| France|        N|
+---+-------+------+-------+---------+

In [155]:
bankProspectsDF4.write.format("csv").save("bank_prospects_transformed")

In [156]:
!ls

bank_prospects.csv	    spark-3.4.0-bin-hadoop3
bank_prospects_transformed  spark-3.4.0-bin-hadoop3.tgz
sample_data

In [157]:
bankProspectsDF4.write.format("parquet").save("bank_prospects_transformed_par")

In [158]:
!ls

bank_prospects.csv		sample_data
bank_prospects_transformed	spark-3.4.0-bin-hadoop3
bank_prospects_transformed_par	spark-3.4.0-bin-hadoop3.tgz

In [159]:
!ls bank_prospects_transformed_par

part-00000-d0016274-9874-4093-9cf1-ffba3de5ed4f-c000.snappy.parquet  _SUCCESS

In [160]:
!ls bank_prospects_t

ls: cannot access 'bank_prospects_t': No such file or directory